.elementor-6211
  .elementor-element.elementor-element-6c1af28a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6211
  .elementor-element.elementor-element-6c1af28a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-6211 .elementor-element.elementor-element-6c1af28a > .elementor-container {
  min-height: 500px;
}
.elementor-6211 .elementor-element.elementor-element-6c1af28a {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 20px 20px 20px 20px;
}
.elementor-6211 .elementor-element.elementor-element-6c1af28a > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-6211 .elementor-element.elementor-element-56fabb8d > .elementor-element-populated {
  margin: 0 0 0 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0 0 0 0;
}
.elementor-6211 .elementor-element.elementor-element-5d4dc4d {
  text-align: center;
}
.elementor-6211 .elementor-element.elementor-element-5d4dc4d .elementor-heading-title {
  font-family: var(--e-global-typography-80b0127-font-family), Sans-serif;
  font-size: var(--e-global-typography-80b0127-font-size);
  font-weight: var(--e-global-typography-80b0127-font-weight);
  text-transform: var(--e-global-typography-80b0127-text-transform);
  font-style: var(--e-global-typography-80b0127-font-style);
  text-decoration: var(--e-global-typography-80b0127-text-decoration);
  line-height: var(--e-global-typography-80b0127-line-height);
  letter-spacing: var(--e-global-typography-80b0127-letter-spacing);
  color: var(--e-global-color-accent);
}
.elementor-6211
  .elementor-element.elementor-element-0d255ec
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-block-end: 0;
}
.elementor-6211 .elementor-element.elementor-element-b9d806d > .elementor-widget-container {
  margin: 0 0 -25px 0;
  padding: 0 0 0 0;
}
.elementor-6211 .elementor-element.elementor-element-b9d806d {
  text-align: start;
  font-family: "Jost", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  color: var(--e-global-color-astglobalcolor1);
}
.elementor-6211 .elementor-element.elementor-element-9431331 > .elementor-widget-container {
  padding: 0 0 0 0;
}
.elementor-6211 .elementor-element.elementor-element-9431331 {
  text-align: start;
  font-size: 14px;
  font-weight: 400;
  color: var(--e-global-color-astglobalcolor1);
}
.elementor-bc-flex-widget
  .elementor-6211
  .elementor-element.elementor-element-42a6a42.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-6211
  .elementor-element.elementor-element-42a6a42.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-6211 .elementor-element.elementor-element-42a6a42 > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-6211
  .elementor-element.elementor-element-42a6a42
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="file"]):not(
    [type="radio"]
  ):not([type="checkbox"]),
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  textarea,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  select,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="checkbox"]
  + label:before,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-description.wpforms-disclaimer-description,
.elementor-6211
  .elementor-element.elementor-element-12298cb.uael-wpf-style-underline
  .wpforms-container-full
  .wpforms-form
  ul.wpforms-image-choices-modern
  label {
  border-radius: 0 0 0 0;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  button[type="submit"],
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-page-button {
  border-radius: 0 0 0 0;
  font-family: "Jost", Sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 2px;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-field-address
  .wpforms-field-row {
  margin-bottom: 10px;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-container.inline-fields
  .wpforms-field-container
  .wpforms-field {
  padding-right: 10px;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-label,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-page-indicator-steps,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-divider
  h3 {
  margin-bottom: 0;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  div.wpforms-container-full
  .wpforms-form
  .wpforms-page-indicator.progress
  .wpforms-page-indicator-page-progress-wrap {
  margin-top: 0;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-description,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-sublabel {
  margin-top: 0;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-radio
  li:not(:last-child),
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-checkbox
  ul
  li:not(:last-child),
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-payment-multiple
  li:not(:last-child) {
  margin-bottom: 0px !important;
  margin-right: 0;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-field-radio.wpforms-list-inline
  ul
  li:not(:last-child),
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-field-checkbox.wpforms-list-inline
  ul
  li:not(:last-child),
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-field-payment-multiple.wpforms-list-inline
  li:not(:last-child) {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  button[type="submit"],
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-pagebreak {
  margin-top: -40px;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb.elementor-widget-uael-wpf-styler
  .uael-wpf-style
  .wpforms-container.inline-fields
  button[type="submit"] {
  margin-top: 0;
}
.elementor-6211 .elementor-element.elementor-element-12298cb > .elementor-widget-container {
  margin: 0 0 -25px 0;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="file"]):not(
    [type="radio"]
  ):not([type="checkbox"]),
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  textarea,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  select,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-description.wpforms-disclaimer-description,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-container-full
  .wpforms-form
  ul.wpforms-image-choices-modern
  label,
.elementor-6211 .elementor-element.elementor-element-12298cb .uael-wpf-container select option {
  background-color: #fafafa;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="checkbox"]
  + label:before,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  input[type="radio"]
  + label:before {
  background-color: #fafafa;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  input[type="radio"]:checked
  + label:before {
  background-color: #7a7a7a;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="radio"]:checked
  + label:before {
  box-shadow: inset 0 0 0 4px #fafafa;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="file"]):not(
    [type="radio"]
  ):not([type="checkbox"]),
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  textarea,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  select {
  border-style: solid;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="checkbox"]
  + label:before,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="radio"]
  + label:before,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-container-full
  .wpforms-form
  ul.wpforms-image-choices-modern
  label,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-description.wpforms-disclaimer-description {
  border-style: solid;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="file"]):not(
    [type="radio"]
  ):not([type="checkbox"]),
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  textarea,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  select,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-description.wpforms-disclaimer-description {
  border-width: 1px 1px 1px 1px;
  border-color: #eaeaea;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="checkbox"]
  + label:before,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="radio"]
  + label:before,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  ul.wpforms-image-choices-modern
  label,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  ul.wpforms-image-choices-modern
  label:hover,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-description.wpforms-disclaimer-description {
  border-width: 1px 1px 1px 1px;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="checkbox"]
  + label:before,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input[type="radio"]
  + label:before,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  ul.wpforms-image-choices-modern
  label,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  ul.wpforms-image-choices-modern
  label:hover,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-page-indicator.circles {
  border-color: #eaeaea;
}
.elementor-6211 .elementor-element.elementor-element-12298cb .uael-wpf-style label.wpforms-error {
  color: red;
}
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="file"]):not(
    [type="radio"]
  ):not([type="checkbox"]),
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  input::placeholder,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  textarea,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  textarea::placeholder,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field
  select,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-description.wpforms-disclaimer-description,
.elementor-6211
  .elementor-element.elementor-element-12298cb
  .uael-wpf-style
  .wpforms-form
  .wpforms-field-likert_scale
  tbody
  tr
  th {
  font-family: "Jost", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}
#elementor-popup-modal-6211 .dialog-widget-content {
  animation-duration: 1.2s;
}
#elementor-popup-modal-6211 {
  background-color: #000000a3;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
#elementor-popup-modal-6211 .dialog-message {
  width: 1000px;
  height: auto;
  padding: 0 0 0 0;
}
#elementor-popup-modal-6211 .dialog-close-button {
  display: flex;
  top: 4%;
  font-size: 29px;
}
body:not(.rtl) #elementor-popup-modal-6211 .dialog-close-button {
  right: 3.6%;
}
body.rtl #elementor-popup-modal-6211 .dialog-close-button {
  left: 3.6%;
}
#elementor-popup-modal-6211 .dialog-close-button i {
  color: #bc9c22;
}
#elementor-popup-modal-6211 .dialog-close-button svg {
  fill: #bc9c22;
}
@media (max-width: 1024px) {
  .elementor-6211 .elementor-element.elementor-element-5d4dc4d .elementor-heading-title {
    font-size: var(--e-global-typography-80b0127-font-size);
    line-height: var(--e-global-typography-80b0127-line-height);
    letter-spacing: var(--e-global-typography-80b0127-letter-spacing);
  }
  .elementor-6211 .elementor-element.elementor-element-b9d806d > .elementor-widget-container {
    padding: 0 0 0 85px;
  }
  .elementor-6211 .elementor-element.elementor-element-9431331 > .elementor-widget-container {
    padding: 0 0 0 85px;
  }
  #elementor-popup-modal-6211 .dialog-close-button {
    top: 14.4%;
  }
  #elementor-popup-modal-6211 .dialog-message {
    padding: 140px 140px 140px 140px;
  }
}
@media (max-width: 767px) {
  .elementor-6211 .elementor-element.elementor-element-6c1af28a > .elementor-container {
    min-height: 300px;
  }
  .elementor-6211 .elementor-element.elementor-element-6c1af28a,
  .elementor-6211 .elementor-element.elementor-element-6c1af28a > .elementor-background-overlay {
    border-radius: 0 0 0 0;
  }
  .elementor-6211 .elementor-element.elementor-element-6c1af28a {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 22px 22px 22px;
  }
  .elementor-6211 .elementor-element.elementor-element-5d4dc4d > .elementor-widget-container {
    margin: 0 0 0 0;
  }
  .elementor-6211 .elementor-element.elementor-element-5d4dc4d {
    text-align: center;
  }
  .elementor-6211 .elementor-element.elementor-element-5d4dc4d .elementor-heading-title {
    font-size: var(--e-global-typography-80b0127-font-size);
    line-height: var(--e-global-typography-80b0127-line-height);
    letter-spacing: var(--e-global-typography-80b0127-letter-spacing);
  }
  .elementor-6211 .elementor-element.elementor-element-b9d806d > .elementor-widget-container {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .elementor-6211 .elementor-element.elementor-element-b9d806d {
    text-align: center;
  }
  .elementor-6211 .elementor-element.elementor-element-9431331 > .elementor-widget-container {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .elementor-6211 .elementor-element.elementor-element-9431331 {
    text-align: center;
    font-size: 14px;
  }
  .elementor-6211
    .elementor-element.elementor-element-12298cb.elementor-widget-uael-wpf-styler
    .uael-wpf-style
    .wpforms-container.inline-fields
    button[type="submit"] {
    margin-top: -40px;
  }
  .elementor-6211
    .elementor-element.elementor-element-12298cb
    .uael-wpf-style
    .wpforms-form
    .wpforms-field
    input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="file"]):not(
      [type="radio"]
    ):not([type="checkbox"]),
  .elementor-6211
    .elementor-element.elementor-element-12298cb
    .uael-wpf-style
    .wpforms-form
    .wpforms-field
    input::placeholder,
  .elementor-6211
    .elementor-element.elementor-element-12298cb
    .uael-wpf-style
    .wpforms-form
    .wpforms-field
    textarea,
  .elementor-6211
    .elementor-element.elementor-element-12298cb
    .uael-wpf-style
    .wpforms-form
    .wpforms-field
    textarea::placeholder,
  .elementor-6211
    .elementor-element.elementor-element-12298cb
    .uael-wpf-style
    .wpforms-form
    .wpforms-field
    select,
  .elementor-6211
    .elementor-element.elementor-element-12298cb
    .uael-wpf-style
    .wpforms-form
    .wpforms-field-description.wpforms-disclaimer-description,
  .elementor-6211
    .elementor-element.elementor-element-12298cb
    .uael-wpf-style
    .wpforms-form
    .wpforms-field-likert_scale
    tbody
    tr
    th {
    font-size: 14px;
  }
  .elementor-6211
    .elementor-element.elementor-element-12298cb
    .uael-wpf-style
    .wpforms-form
    button[type="submit"],
  .elementor-6211
    .elementor-element.elementor-element-12298cb
    .uael-wpf-style
    .wpforms-form
    .wpforms-page-button {
    font-size: 0.7em;
  }
  #elementor-popup-modal-6211 .dialog-message {
    width: 93vw;
    padding: 0 0 0 0;
  }
  #elementor-popup-modal-6211 {
    justify-content: center;
    align-items: center;
  }
  #elementor-popup-modal-6211 .dialog-widget-content {
    border-radius: 10px 10px 10px 10px;
  }
  #elementor-popup-modal-6211 .dialog-close-button {
    top: 1.5%;
    font-size: 25px;
  }
  body:not(.rtl) #elementor-popup-modal-6211 .dialog-close-button {
    right: 2.5%;
  }
  body.rtl #elementor-popup-modal-6211 .dialog-close-button {
    left: 2.5%;
  }
}
