.elementor-11771 .elementor-element.elementor-element-f5fd897 {
  padding: 30px 0 30px 0;
}
.elementor-11771 .elementor-element.elementor-element-567045f .elementor-heading-title {
  font-family: var(--e-global-typography-19a33fa-font-family), Sans-serif;
  font-size: var(--e-global-typography-19a33fa-font-size);
  font-weight: var(--e-global-typography-19a33fa-font-weight);
  text-transform: var(--e-global-typography-19a33fa-text-transform);
  font-style: var(--e-global-typography-19a33fa-font-style);
  line-height: var(--e-global-typography-19a33fa-line-height);
  letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  color: var(--e-global-color-accent);
}
.elementor-11771 .elementor-element.elementor-element-45600de > .elementor-widget-container {
  margin: 0 0 0 0;
}
.elementor-11771
  .elementor-element.elementor-element-45600de
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-45600de
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-45600de
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-inline: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-45600de
  .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-45600de
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  inset-inline-end: calc(-8px / 2);
}
.elementor-11771 .elementor-element.elementor-element-45600de .elementor-icon-list-icon i {
  transition: color 0.3s;
}
.elementor-11771 .elementor-element.elementor-element-45600de .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}
.elementor-11771 .elementor-element.elementor-element-45600de {
  --icon-vertical-offset: 0px;
}
.elementor-11771
  .elementor-element.elementor-element-45600de
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-11771 .elementor-element.elementor-element-45600de .elementor-icon-list-item > a {
  font-family: "Jost", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}
.elementor-11771 .elementor-element.elementor-element-45600de .elementor-icon-list-text {
  color: var(--e-global-color-astglobalcolor1);
  transition: color 0.3s;
}
.elementor-11771
  .elementor-element.elementor-element-45600de
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: #bc9c22;
}
.elementor-11771 .elementor-element.elementor-element-d196137 .elementor-heading-title {
  font-family: var(--e-global-typography-19a33fa-font-family), Sans-serif;
  font-size: var(--e-global-typography-19a33fa-font-size);
  font-weight: var(--e-global-typography-19a33fa-font-weight);
  text-transform: var(--e-global-typography-19a33fa-text-transform);
  font-style: var(--e-global-typography-19a33fa-font-style);
  line-height: var(--e-global-typography-19a33fa-line-height);
  letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  color: var(--e-global-color-accent);
}
.elementor-11771 .elementor-element.elementor-element-8c3266a > .elementor-widget-container {
  margin: 0 0 0 0;
}
.elementor-11771
  .elementor-element.elementor-element-8c3266a
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-8c3266a
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-8c3266a
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-inline: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-8c3266a
  .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-8c3266a
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  inset-inline-end: calc(-8px / 2);
}
.elementor-11771 .elementor-element.elementor-element-8c3266a .elementor-icon-list-icon i {
  transition: color 0.3s;
}
.elementor-11771 .elementor-element.elementor-element-8c3266a .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}
.elementor-11771 .elementor-element.elementor-element-8c3266a {
  --icon-vertical-offset: 0px;
}
.elementor-11771
  .elementor-element.elementor-element-8c3266a
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-11771 .elementor-element.elementor-element-8c3266a .elementor-icon-list-item > a {
  font-family: "Jost", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}
.elementor-11771 .elementor-element.elementor-element-8c3266a .elementor-icon-list-text {
  color: var(--e-global-color-astglobalcolor1);
  transition: color 0.3s;
}
.elementor-11771
  .elementor-element.elementor-element-8c3266a
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: #bc9c22;
}
.elementor-11771 .elementor-element.elementor-element-c6189a2 .elementor-heading-title {
  font-family: var(--e-global-typography-19a33fa-font-family), Sans-serif;
  font-size: var(--e-global-typography-19a33fa-font-size);
  font-weight: var(--e-global-typography-19a33fa-font-weight);
  text-transform: var(--e-global-typography-19a33fa-text-transform);
  font-style: var(--e-global-typography-19a33fa-font-style);
  line-height: var(--e-global-typography-19a33fa-line-height);
  letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  color: var(--e-global-color-accent);
}
.elementor-11771 .elementor-element.elementor-element-966fd08 > .elementor-widget-container {
  margin: 0 0 0 0;
}
.elementor-11771
  .elementor-element.elementor-element-966fd08
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-966fd08
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-966fd08
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-inline: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-966fd08
  .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-966fd08
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  inset-inline-end: calc(-8px / 2);
}
.elementor-11771 .elementor-element.elementor-element-966fd08 .elementor-icon-list-icon i {
  transition: color 0.3s;
}
.elementor-11771 .elementor-element.elementor-element-966fd08 .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}
.elementor-11771 .elementor-element.elementor-element-966fd08 {
  --icon-vertical-offset: 0px;
}
.elementor-11771
  .elementor-element.elementor-element-966fd08
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-11771 .elementor-element.elementor-element-966fd08 .elementor-icon-list-item > a {
  font-family: "Jost", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}
.elementor-11771 .elementor-element.elementor-element-966fd08 .elementor-icon-list-text {
  color: var(--e-global-color-astglobalcolor1);
  transition: color 0.3s;
}
.elementor-11771
  .elementor-element.elementor-element-966fd08
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: #bc9c22;
}
.elementor-11771 .elementor-element.elementor-element-e473157 .elementor-heading-title {
  font-family: var(--e-global-typography-19a33fa-font-family), Sans-serif;
  font-size: var(--e-global-typography-19a33fa-font-size);
  font-weight: var(--e-global-typography-19a33fa-font-weight);
  text-transform: var(--e-global-typography-19a33fa-text-transform);
  font-style: var(--e-global-typography-19a33fa-font-style);
  line-height: var(--e-global-typography-19a33fa-line-height);
  letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  color: var(--e-global-color-accent);
}
.elementor-11771 .elementor-element.elementor-element-eb005aa > .elementor-widget-container {
  margin: 0 0 0 0;
}
.elementor-11771
  .elementor-element.elementor-element-eb005aa
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-eb005aa
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-eb005aa
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-inline: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-eb005aa
  .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-eb005aa
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  inset-inline-end: calc(-8px / 2);
}
.elementor-11771 .elementor-element.elementor-element-eb005aa .elementor-icon-list-icon i {
  transition: color 0.3s;
}
.elementor-11771 .elementor-element.elementor-element-eb005aa .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}
.elementor-11771 .elementor-element.elementor-element-eb005aa {
  --icon-vertical-offset: 0px;
}
.elementor-11771
  .elementor-element.elementor-element-eb005aa
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-11771 .elementor-element.elementor-element-eb005aa .elementor-icon-list-item > a {
  font-family: "Jost", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}
.elementor-11771 .elementor-element.elementor-element-eb005aa .elementor-icon-list-text {
  color: var(--e-global-color-astglobalcolor1);
  transition: color 0.3s;
}
.elementor-11771
  .elementor-element.elementor-element-eb005aa
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: #bc9c22;
}
.elementor-11771 .elementor-element.elementor-element-cda03ac .elementor-heading-title {
  font-family: var(--e-global-typography-19a33fa-font-family), Sans-serif;
  font-size: var(--e-global-typography-19a33fa-font-size);
  font-weight: var(--e-global-typography-19a33fa-font-weight);
  text-transform: var(--e-global-typography-19a33fa-text-transform);
  font-style: var(--e-global-typography-19a33fa-font-style);
  line-height: var(--e-global-typography-19a33fa-line-height);
  letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  color: var(--e-global-color-accent);
}
.elementor-11771 .elementor-element.elementor-element-bc108e9 > .elementor-widget-container {
  margin: 0 0 0 0;
}
.elementor-11771
  .elementor-element.elementor-element-bc108e9
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-bc108e9
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-bc108e9
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-inline: calc(8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-bc108e9
  .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-8px / 2);
}
.elementor-11771
  .elementor-element.elementor-element-bc108e9
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  inset-inline-end: calc(-8px / 2);
}
.elementor-11771 .elementor-element.elementor-element-bc108e9 .elementor-icon-list-icon i {
  transition: color 0.3s;
}
.elementor-11771 .elementor-element.elementor-element-bc108e9 .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}
.elementor-11771 .elementor-element.elementor-element-bc108e9 {
  --icon-vertical-offset: 0px;
}
.elementor-11771
  .elementor-element.elementor-element-bc108e9
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-11771 .elementor-element.elementor-element-bc108e9 .elementor-icon-list-item > a {
  font-family: "Jost", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}
.elementor-11771 .elementor-element.elementor-element-bc108e9 .elementor-icon-list-text {
  color: var(--e-global-color-astglobalcolor1);
  transition: color 0.3s;
}
.elementor-11771
  .elementor-element.elementor-element-bc108e9
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: #bc9c22;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-11771 .elementor-element.elementor-element-567045f .elementor-heading-title {
    font-size: var(--e-global-typography-19a33fa-font-size);
    line-height: var(--e-global-typography-19a33fa-line-height);
    letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  }
  .elementor-11771 .elementor-element.elementor-element-45600de > .elementor-widget-container {
    margin: 0 0 0 0;
  }
  .elementor-11771
    .elementor-element.elementor-element-45600de
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-45600de
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-45600de
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-inline: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-45600de
    .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-45600de
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    inset-inline-end: calc(-0px / 2);
  }
  .elementor-11771 .elementor-element.elementor-element-d196137 .elementor-heading-title {
    font-size: var(--e-global-typography-19a33fa-font-size);
    line-height: var(--e-global-typography-19a33fa-line-height);
    letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  }
  .elementor-11771 .elementor-element.elementor-element-8c3266a > .elementor-widget-container {
    margin: 0 0 0 0;
  }
  .elementor-11771
    .elementor-element.elementor-element-8c3266a
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-8c3266a
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-8c3266a
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-inline: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-8c3266a
    .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-8c3266a
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    inset-inline-end: calc(-0px / 2);
  }
  .elementor-11771 .elementor-element.elementor-element-c6189a2 .elementor-heading-title {
    font-size: var(--e-global-typography-19a33fa-font-size);
    line-height: var(--e-global-typography-19a33fa-line-height);
    letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  }
  .elementor-11771 .elementor-element.elementor-element-966fd08 > .elementor-widget-container {
    margin: 0 0 0 0;
  }
  .elementor-11771
    .elementor-element.elementor-element-966fd08
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-966fd08
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-966fd08
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-inline: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-966fd08
    .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-966fd08
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    inset-inline-end: calc(-0px / 2);
  }
  .elementor-11771 .elementor-element.elementor-element-e473157 .elementor-heading-title {
    font-size: var(--e-global-typography-19a33fa-font-size);
    line-height: var(--e-global-typography-19a33fa-line-height);
    letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  }
  .elementor-11771 .elementor-element.elementor-element-eb005aa > .elementor-widget-container {
    margin: 0 0 0 0;
  }
  .elementor-11771
    .elementor-element.elementor-element-eb005aa
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-eb005aa
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-eb005aa
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-inline: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-eb005aa
    .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-eb005aa
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    inset-inline-end: calc(-0px / 2);
  }
  .elementor-11771 .elementor-element.elementor-element-cda03ac .elementor-heading-title {
    font-size: var(--e-global-typography-19a33fa-font-size);
    line-height: var(--e-global-typography-19a33fa-line-height);
    letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  }
  .elementor-11771 .elementor-element.elementor-element-bc108e9 > .elementor-widget-container {
    margin: 0 0 0 0;
  }
  .elementor-11771
    .elementor-element.elementor-element-bc108e9
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-bc108e9
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-bc108e9
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-inline: calc(0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-bc108e9
    .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-0px / 2);
  }
  .elementor-11771
    .elementor-element.elementor-element-bc108e9
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    inset-inline-end: calc(-0px / 2);
  }
}
@media (min-width: 768px) {
  .elementor-11771 .elementor-element.elementor-element-ef2d2d9 {
    width: 23%;
  }
  .elementor-11771 .elementor-element.elementor-element-9d5f022 {
    width: 22%;
  }
  .elementor-11771 .elementor-element.elementor-element-82f3885 {
    width: 19%;
  }
  .elementor-11771 .elementor-element.elementor-element-feb777e {
    width: 15.985%;
  }
}
@media (max-width: 767px) {
  .elementor-11771 .elementor-element.elementor-element-567045f {
    text-align: center;
  }
  .elementor-11771 .elementor-element.elementor-element-567045f .elementor-heading-title {
    font-size: var(--e-global-typography-19a33fa-font-size);
    line-height: var(--e-global-typography-19a33fa-line-height);
    letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  }
  .elementor-11771 .elementor-element.elementor-element-45600de > .elementor-widget-container {
    margin: 0 0 0 0;
  }
  .elementor-11771 .elementor-element.elementor-element-45600de {
    --e-icon-list-icon-size: 0px;
  }
  .elementor-11771
    .elementor-element.elementor-element-45600de
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-11771 .elementor-element.elementor-element-45600de .elementor-icon-list-item > a {
    font-size: 14px;
  }
  .elementor-11771 .elementor-element.elementor-element-d196137 {
    text-align: center;
  }
  .elementor-11771 .elementor-element.elementor-element-d196137 .elementor-heading-title {
    font-size: var(--e-global-typography-19a33fa-font-size);
    line-height: var(--e-global-typography-19a33fa-line-height);
    letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  }
  .elementor-11771 .elementor-element.elementor-element-8c3266a > .elementor-widget-container {
    margin: 0 0 0 0;
  }
  .elementor-11771 .elementor-element.elementor-element-8c3266a {
    --e-icon-list-icon-size: 0px;
  }
  .elementor-11771
    .elementor-element.elementor-element-8c3266a
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-11771 .elementor-element.elementor-element-8c3266a .elementor-icon-list-item > a {
    font-size: 14px;
  }
  .elementor-11771 .elementor-element.elementor-element-c6189a2 {
    text-align: center;
  }
  .elementor-11771 .elementor-element.elementor-element-c6189a2 .elementor-heading-title {
    font-size: var(--e-global-typography-19a33fa-font-size);
    line-height: var(--e-global-typography-19a33fa-line-height);
    letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  }
  .elementor-11771 .elementor-element.elementor-element-966fd08 > .elementor-widget-container {
    margin: 0 0 0 0;
  }
  .elementor-11771 .elementor-element.elementor-element-966fd08 {
    --e-icon-list-icon-size: 0px;
  }
  .elementor-11771
    .elementor-element.elementor-element-966fd08
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-11771 .elementor-element.elementor-element-966fd08 .elementor-icon-list-item > a {
    font-size: 14px;
  }
  .elementor-11771 .elementor-element.elementor-element-e473157 {
    text-align: center;
  }
  .elementor-11771 .elementor-element.elementor-element-e473157 .elementor-heading-title {
    font-size: var(--e-global-typography-19a33fa-font-size);
    line-height: var(--e-global-typography-19a33fa-line-height);
    letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  }
  .elementor-11771 .elementor-element.elementor-element-eb005aa > .elementor-widget-container {
    margin: 0 0 0 0;
  }
  .elementor-11771 .elementor-element.elementor-element-eb005aa {
    --e-icon-list-icon-size: 0px;
  }
  .elementor-11771
    .elementor-element.elementor-element-eb005aa
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-11771 .elementor-element.elementor-element-eb005aa .elementor-icon-list-item > a {
    font-size: 14px;
  }
  .elementor-11771 .elementor-element.elementor-element-cda03ac {
    text-align: center;
  }
  .elementor-11771 .elementor-element.elementor-element-cda03ac .elementor-heading-title {
    font-size: var(--e-global-typography-19a33fa-font-size);
    line-height: var(--e-global-typography-19a33fa-line-height);
    letter-spacing: var(--e-global-typography-19a33fa-letter-spacing);
  }
  .elementor-11771 .elementor-element.elementor-element-bc108e9 > .elementor-widget-container {
    margin: 0 0 0 0;
  }
  .elementor-11771 .elementor-element.elementor-element-bc108e9 {
    --e-icon-list-icon-size: 0px;
  }
  .elementor-11771
    .elementor-element.elementor-element-bc108e9
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-11771 .elementor-element.elementor-element-bc108e9 .elementor-icon-list-item > a {
    font-size: 14px;
  }
}
.elementor-widget.elementor-align-left .elementor-icon-list-item,
.elementor-widget.elementor-align-left .elementor-icon-list-item a {
  font-family: "Jost", Sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: normal !important;
  line-height: 1.5em !important;
  text-transform: capitalize !important;
}
